.a_info_main{
    width: 100%;
    min-height: 500px;
    color: #505050;
    height: auto;
}

.a_info_main_page{
    padding-top: 20px;
    width: 1050px;
    min-height: 500px;
    height: auto;
    margin: 0 auto;
}

.player_init{
    width: 700px;
    min-height: 400px;
    height: auto;
    float: left;
}

.danmaku_init{
    width: 348px;
    border: 1px solid #e4e4e4;
    height: 441px;
    float: left;
}

.danmaku_list_top{
    width: 346px;
    border-bottom: 1px solid #f1f1f1;
    height: 35px;
    float: left;
    padding: 10px;
    font-size: 14px;
}

.danmaku_list_body{
    width: 347px;
    height: 370px;
    overflow-y: auto;
    float: left;
}

.danmaku_list_tr{
    width: 339px;
    height: 30px;
    float: left;
    font-size: 12px;
    padding-top: 7px;
    color: #868686;
}

.danmaku_list_tr_head{
    width: 346px;
    height: 30px;
    float: left;
    font-size: 12px;
    padding-top: 7px;
    color: #868686;
    border-bottom: 1px solid #f6f6f6;
    background-color: #f9f9f9;
}

.danmaku_list_tb1{
    width: 63px;
    height: 20px;
    float: left;
    padding-left: 10px;
    font-size: 12px;
}

.danmaku_list_tb2{
    width: 148px;
    height: 30px;
    float: left;
    font-size: 12px;
}

.danmaku_list_tb3{
    width: 128px;
    height: 30px;
    float: left;
    padding-left: 10px;
    font-size: 12px;
}

.danmaku_num{
    color: #ff7f93;
}