
.fl_main_page_info {
    width: 100%;
    min-height: 100px;
    height: auto;
}

.fl_main_data_area_info {
    width: 1050px;
    min-height: 100px;
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
    color: #5e5e5e;
}

.fl_main_data_head {
    width: 1050px;
    height: 180px;
    border-bottom: 1px #f3f3f3 solid;
    margin-bottom: 20px;
}

.fl_main_data_head_cover {
    width: 150px;
    height: 180px;
    float: left;
    margin-right: 20px;
}

.cover_img {
    width: 150px;
    height: 150px;
    border-radius: 6px;
}

.fl_main_data_head_title {
    width: 830px;
    height: 30px;
    font-size: 20px;
    line-height: 2.0;
    float: left;
}

.fl_main_data_head_tag {
    padding-top: 20px;
    width: 830px;
    height: 80px;
    float: left;
}

.fl_main_data_head_info {
    padding-top: 10px;
    width: 830px;
    height: 40px;
    float: left;
}

.fl_tag {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 20px;
    padding: 0 8px;
    line-height: 20px;
    color: #ff99c4;
    border: 1px solid #ff99c4;
    border-radius: 100px;
    margin-bottom: 10px;
    cursor: pointer;
}

.fl_tag:hover {
    color: #FFF;
    background: #ff99c4;
}

.fl_tag_info {
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 8px;
}

.fl_tag_text {
    color: #464646;
    font-size: 14px;
}

.fl_tag_bq {
    background-image: url("/image/bq.png");
}

.fl_tag_user {
    background-image: url("/image/t_home.png");
}

.fl_tag_time {
    margin-left: 50px;
    background-image: url("/image/v_sj.png");
}

.fl_main_data_body {
    width: 1050px;
    height: auto;
    min-height: 1px;
}

.fl_main_data_body_menu {
    width: 1050px;
    height: 35px;
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 20px;
    color: #797979;
    float: left;
}

.fl_main_data_body_menu_unit {
    width: 150px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    height: 35px;
    float: left;
}

.fl_main_data_body_menu_unit:hover {
    color: #00b5e5;
}

.fl_main_data_body_menu_unit_pointer {
    width: 150px;
    font-size: 15px;
    text-align: center;
    height: 35px;
    float: left;
    border-bottom: solid #00b5e5 4px;
    color: #00b5e5;
}

.fl_player_btn_group {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    min-width: 50px;
    width: auto;
    height: 25px;
    margin-right: 10px;
    border-radius: 100px;
}

.fl_play_btn {
    float: left;
    border: solid #ff99c4 1px;
    color: #ff99c4;
    border-radius: 100px;
    cursor: pointer;
}

.fl_play_btn:hover {
    background-color: #ff99c4;
    color: #FFF;
}

.fl_playing_btn {
    float: left;
    border: solid #ff605d 1px;
    color: #FFF;
    border-radius: 100px;
    background-color: #ff605d;
    cursor: pointer;
}

.fl_share_btn {
    float: left;
    border: solid #00b5e5 1px;
    color: #00b5e5;
    border-radius: 100px;
    cursor: pointer;
}

.fl_share_btn:hover {
    background-color: #00b5e5;
    color: #FFF;
}

.f_before_tag {
    margin-right: 5px;
    padding: 2px 5px 2px 5px;
    border-radius: 100px;
    color: #519dff;
    width: auto;
    min-width: 10px;
    height: auto;
    min-height: 10px;
}