.child_menu{
    color: #373737;
    font-size: 12px;
    margin-left: 30px;
    cursor: pointer;
    float: left;
    list-style:none;
}

.child_menu_pointer{
    color: #ff80a6;
    font-weight: bold;
    font-size: 12px;
    margin-left: 30px;
    cursor: pointer;
    float: left;
    list-style:none;
}

.child_menu_box{
    width: 100%;
    height: 45px;
}
.menu_main_box_01{
    width: 1050px;
    height: 45px;
    margin: 0 auto;
    font-size: 14px;
    color: #494949;
    border: 1px solid #39C5BB;
    border-radius: 4px;
    padding-top: 13px;
    box-shadow:inset 0px 0px 16px #e5e5e5;
}
.main_page{
    width: 100%;
    min-height: 100px;
    height: auto;
}
.main_data_area{
    width: 1050px;
    min-height: 100px;
    height: auto;
    margin: 0 auto;
}

.main_data_area_unit_jx{
    margin-right: 30px;
}

.main_data_area_unit{
    margin-top: 20px;
    width: 186px;
    height: 226px;
    float: left;
}

.main_data_area_unit_cover{
    width: 186px;
    height: 186px;
    border-radius: 6px;
    float: left;
}

.main_data_area_unit_txt{
    padding-top: 10px;
    width: 186px;
    height: 40px;
    font-size: 12px;
    float: left;
}

.tag_top{
    width: 1050px;
    min-height: 100px;
    height: auto;
    margin: 0 auto;
}

.main_tag{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 1050px;
    border-radius: 4px;
    padding-top: 30px;
    background-image: url("/image/music_tag_bg.jpg");
    background-size: 100%, 100%;
    font-size: 18px;
    height: 95px;
    float: left;
    color: #39C5BB;
}

.tag_name_text{
    width: 400px;
    margin: 0 auto;
    padding-top: 8px;
    text-align: center;
    border-radius: 100px;
    height: 40px;
    font-weight: bold;
    border: solid 1px #39C5BB;
    background-image: url("http://7xwibn.com1.z0.glb.clouddn.com/static/ss.png");
}

.img_back{
    width:186px;
    height:186px;
    background-size: 100%;
    border-radius: 4px;
}

.img_back_play{
    display: none;
    width:186px;
    height:186px;
    background-size: 100%;
    border-radius: 6px;
    cursor: pointer;
    background-image: url("/image/mus_play.png");
}

.img_back:hover .img_back_play{
    display: block;
}