.upload_main_page{
    width: 100%;
    min-height: 100px;
    height: auto;
    padding-top: 30px;
}
.upload_main{
    width: 1050px;
    min-height: 100px;
    height: auto;
    margin: 0 auto;
}

.upload_info_body{
    width: 850px;
    height: 600px;
    background-color: #f7f7f7;
    margin: 0 auto;
}
.upload_info_body_top{
    width: 850px;
    height: 50px;
    float: left;
}

.upload_info_body_loading{
    width: 790px;
    height: 20px;
    border-radius: 100px;
    border: 4px solid #ededed;
    background-color: #fcfcfc;
    float: left;
    margin-top: 5px;
}

.upload_info_body_loading_body{
    width: 1px;
    height: 12px;
    border-radius: 100px;
    float: left;
    background-color: #ff98b6;
}

.upload_info_body_top_tip{
    width: 50px;
    height: 50px;
    border-right: 25px solid #ebebeb;
    border-left: 25px solid #FFF;
    border-top: 25px solid #FFF;
    border-bottom: 25px solid #ebebeb;
    float: left;
}

.upload_info_body_main{
    width: 850px;
    min-height: 320px;
    height: auto;
    float: left;
    padding: 30px;
}


.upload_body{
    width: 750px;
    height: 320px;
    background: url("/image/upload_bg.jpg");
    margin: 0 auto;
    background-size: 100%;
    padding-top: 120px;
    padding-left: 210px;
}

.upload_btn{
    position: relative;
    width: 350px;
    height: 70px;
    border-radius: 100px;
    background-color: #00a1d6;
    color: #FFF;
}

.upload_btn:hover{
    background-color: #00b1e7;
}

.upload_btn_01{
    width: 100px;
    height: 70px;
    float: left;
    font-size: 45px;
    padding-top: 10px;
    padding-left: 20px;
    border-right: 1px #FFF solid;
}

.upload_btn_02{
    width: 250px;
    height: 70px;
    padding-top: 10px;
    padding-left: 50px;
    font-size: 18px;
    float: left;
}

.file-btn{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    outline: none;
    background-color: transparent;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
    cursor: pointer;
}