.v_child_menu{
    color: #373737;
    font-size: 12px;
    margin-left: 30px;
    cursor: pointer;
    float: left;
    list-style:none;
}

.v_child_menu:hover{
    color: #ff80a6;
}

.v_child_menu_pointer{
    color: #ff709f;
    font-weight: bold;
    font-size: 12px;
    margin-left: 30px;
    cursor: pointer;
    float: left;
    list-style:none;
}

.v_child_menu_box{
    width: 100%;
    height: 45px;
}
.v_menu_main_box_01{
    width: 1050px;
    height: 45px;
    margin: 0 auto;
    font-size: 14px;
    color: #494949;
    border: 1px solid #39C5BB;
    border-radius: 4px;
    padding-top: 13px;
    box-shadow:inset 0px 0px 16px #e5e5e5;
}
.v_main_page{
    width: 100%;
    min-height: 100px;
    height: auto;
}
.v_main_data_area{
    width: 1050px;
    min-height: 100px;
    height: auto;
    margin: 0 auto;
}

.v_main_data_area_unit_jx{
    margin-right: 30px;
}

.v_main_data_area_unit{
    margin-top: 20px;
    width: 186px;
    height: 166px;
    float: left;
}

.v_net_tag{
    min-width: 1px;
    width: auto;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 2;
    font-size: 10px;
    color: #FFF;
    height: 20px;
    border-radius: 0 4px 0 6px;
    float: right;
}

.v_main_data_area_unit_cover{
    width: 186px;
    height: 116px;
    border-radius: 6px;
    float: left;
}

.v_main_data_area_unit_txt{
    padding-top: 10px;
    width: 186px;
    height: 40px;
    font-size: 12px;
    float: left;
}

.v_tag_top{
    width: 1050px;
    min-height: 100px;
    height: auto;
    margin: 0 auto;
}

.v_main_tag{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 1050px;
    border-radius: 4px;
    padding-top: 30px;
    background-image: url("/image/video_tag_bg.jpg");
    background-size: 100%, 100%;
    font-size: 18px;
    height: 95px;
    float: left;
    color: #39C5BB;
}

.v_tag_name_text{
    width: 400px;
    margin: 0 auto;
    padding-top: 8px;
    text-align: center;
    border-radius: 100px;
    font-weight: bold;
    height: 40px;
    border: solid 1px #39C5BB;
    background-image: url("http://7xwibn.com1.z0.glb.clouddn.com/static/ss.png");
}

.v_tag_base_l{
    width: 101px;
    height: 25px;
    float: left;
    background-image: url("/image/v_tag_left_xs.jpg");
    background-size: 100% 100%;
}

.v_tag_base_r{
    width: 101px;
    height: 25px;
    float: left;
    background-image: url("/image/v_tag_right_xs.png");
    background-size: 100% 100%;
}

.v_tag_base{
    width: 25px;
    height: 25px;
    float: left;
}

.v_data_01{
    width: 186px;
    height: 116px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.v_img_back_play{
    display: none;
    z-index: 10;
    width:186px;
    height:116px;
    background-size: 100%;
    border-radius: 6px;
    cursor: pointer;
    background-image: url("/image/play_bg.png");
}

.v_data_01:hover .v_img_back_play{
    display: block;
}

.v_data_02{
    width: 247px;
    height: 50px;
    font-size: 11px;
}

.v_data_03{
    width: 247px;
    height: 30px;
    font-size: 11px;
    color: #aaaaaa;
}