.blog_body_main {
    margin-top: 10px;
    width: 1200px;
    min-height: 50px;
    height: auto;
    float: left;
}

.blog_body_main_left {
    width: 840px;
    min-height: 50px;
    height: auto;
    margin-right: 10px;
    float: left;
}

.blog_body_main_left_box {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #c7c7c7;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin-bottom: 10px;
}

.blog_body_main_left_box_title{
    width: 100%;
    height: 35px;
    font-size: 18px;
    float: left;
    font-weight: bold;
}

.blog_body_main_left_box_context{
    width: 100%;
    min-height: 35px;
    height: auto;
    float: left;
}

.blog_body_main_right {
    width: 350px;
    min-height: 50px;
    height: auto;
    float: left;
}

.blog_body_main_right_box {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #c7c7c7;
    min-height: 250px;
    height: auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px;
}

.type_tag {
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #ff81a1;
    border-radius: 100px;
    color: #ff81a1;
    width: auto;
    font-weight: normal;
    min-width: 10px;
    height: auto;
    font-size: 15px;
    min-height: 10px;
}