/*
 * Base structure
 */
@charset "UTF-8";

@font-face {
	font-family: ImmeHybrid;
	src: local("Microsoft Yahei"), local("STXihei");
	unicode-range: U+4E00-9FFF;
}

@font-face {
	font-family: ImmeHybrid;
	src: local(Arial), local(Helvetica), local(Segoe UI);
	unicode-range: U+00-024F;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	font-family: ImmeHybrid, "Microsoft Yahei", "STXihei", "Helvetica Neue",
		Helvetica, Arial, sans-serif;
	padding-top: 50px;
	position: relative;
}

/*
 * Global add-ons
 */
.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
	border: 0;
}

/*
 * Sidebar
 * Hide for mobile, show later
 */
@media ( min-width : 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto;
		/* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}

.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}

.nav-header.collapsed > span.glyphicon-chevron-toggle:before {
	content: "\e114";
}

.nav-header > span.glyphicon-chevron-toggle:before {
	content: "\e113";
}

.secondmenu a {
	font-size: 12px;
	color: #4A515B;
	text-align: left;
	padding-left: 36px !important;
}
.secondmenu a.active,
.secondmenu a:focus {
	color: #fff !important;
	background-color: #428bca !important;;
}

/*
 * Main content
 */
.main {
	padding: 20px;
}

@media ( min-width : 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}
@media ( max-width : 768px) {
	.main {
		padding-top:0;
	}
	.li.sub a{
		padding-left:0;
	}
	.navbar-collapse{
		overflow-x:hidden;
	}
	.sidebar .statement-nav-list{
		margin-top:0;
	}
}

.main .page-header {
	margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
	margin-bottom: 30px;
	text-align: center;
}

.placeholders h4 {
	margin-bottom: 0;
}

.placeholder {
	margin-bottom: 20px;
}

.placeholder img {
	display: inline-block;
	border-radius: 50%;
}

/**================ Custom Style VER: SNAPSHOT-0.0.1 =================**/

/**
 * 组件样式
 */
@media (min-width: 1300px) {
	.modal-xl { 
		width: 1280px;
	}
}

/* 模态框 */
#processingModal {
	top: 200px;
}

/* 美图秀秀模态框 */
#xiuxiuModal .modal-body {
	min-height: 530px;
}

/* 登录信息 popover 菜单样式 */
.popover-content .dl-horizontal dt {
	width: 85px;
}

.popover-content .dl-horizontal dd {
	margin-left: 95px;
	width: 115px;
}
/* 左侧的菜单样式 */
li.sub a {
	padding-left: 3em;
}
/* 表单 label 样式 */
form .form-group > label:nth-child(1):after {
	content: ': ';
}
/* label 强制换行 */
label.checkbox-inline {
    word-break: break-all;
}
/* 表格中的元素垂直居中 */
.table thead tr th, .table tbody tr td {
	vertical-align: middle;
}

/* 表格中图片的样式 */
table tr td .thumbnail {
	max-width: 50px;
    max-height: 50px;
    margin-bottom: 0px;
    padding: 1px;
    border-radius: 0px;
    display: inline-block;
}
table tr td .thumbnail img {
	max-height: 40px;
}
/* 表格中头像图片的样式 */
table tr td span.avatar {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
    border-radius: 50%;
}

/* 表格TD中 上移下移样式 */
.table td.control > ul {
	list-style: none;
	margin: auto;
	padding-left: 0px;
	display: inline-block;
	vertical-align: middle;
	padding: 0px 2px;
}

/* 表格中 TD 文本过长的时候 */
.ellipsis {
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 25em;
}

table .long {
	word-break: break-all;
}

/**
 * UI 样式
 */
kbd span.glyphicon {
	font-size: smaller;
}
/* form label */
label.required {
	color: #a94442;
}

.hide {
	display: none !important;
}

.invisible {
	opacity: 0;
}
/* 光标可点击 */
.pointer {
	cursor: pointer;
}

.black {
	color: black !important;
}

.red {
	color: red !important;
}

.orange {
	color: rgb(255, 142, 58) !important;
}

/* 滚动条样式（基于网易邮箱） */
::-webkit-scrollbar {
	width: 8px;
	height: 8px
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0)
}

::-webkit-scrollbar-track:hover {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .4);
	background-color: rgba(0, 0, 0, .01)
}

::-webkit-scrollbar-track:active {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .4);
	background-color: rgba(0, 0, 0, .05)
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .05);
	border-radius: 10px;
	-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1)
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .2);
	border-radius: 10px;
	-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1)
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, .4);
	-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1)
}

::-webkit-scrollbar-thumb:active {
	background: rgba(0, 0, 0, .6)
}

/**
 * 排版样式
 */
.center {
	text-align: center;
}

.right {
	text-align: right;
}

.indent-4 {
	margin-left: 4em;
}

.inline-input {
	display: inline-flex;
	width: initial;
}

/**
 * label-closable
 */
.label-closable {
	display: inline-block;
    color: #333;
    font-size: 100%;
    margin-right: 1.5rem;
}

.label-closable .close {
	margin-left: 2px;
}

/**
 * #page's direct children
 */
#page > :not(.modal), #page > :not(.modal) > * {
	margin: 5px 0px;
}

#page > div #wrap > * {
	margin: 15px 5px;
}

#page > h4, #page > h5 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.row.condensed [class|=col] {
	padding-left: 10px;
}
