<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sharemer.business.api.master.dao.AdminMapper">

    <select id="getOneByNameAndPassword" resultType="sharemer.business.api.master.po.Admin">
        SELECT
        `name`, password
        FROM
        t_admin
        WHERE `name` = #{name} AND password = #{password}
    </select>

</mapper>