<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sharemer.business.api.master.dao.ArchiveMapper">
    <insert id="insert" parameterType="sharemer.business.api.master.po.Archive" useGeneratedKeys="true"
            keyProperty="pojo.id">
        INSERT INTO t_archive
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null">id,</if>
            <if test="pojo.title != null">`title`,</if>
            <if test="pojo.cover != null">cover,</if>
            <if test="pojo.publish_type != null">publish_type,</if>
            <if test="pojo.origin_title != null">origin_title,</if>
            <if test="pojo.origin_author != null">origin_author,</if>
            <if test="pojo.file != null">file,</if>
            <if test="pojo.status != null">status,</if>
            <if test="pojo.user_id != null">user_id,</if>
            <if test="pojo.source_type != null">source_type,</if>
            <if test="pojo.desc != null">`desc`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null">#{pojo.id},</if>
            <if test="pojo.title != null">#{pojo.title},</if>
            <if test="pojo.cover != null">#{pojo.cover},</if>
            <if test="pojo.publish_type != null">#{pojo.publish_type},</if>
            <if test="pojo.origin_title != null">#{pojo.origin_title},</if>
            <if test="pojo.origin_author != null">#{pojo.origin_author},</if>
            <if test="pojo.file != null">#{pojo.file},</if>
            <if test="pojo.status != null">#{pojo.status},</if>
            <if test="pojo.user_id != null">#{pojo.user_id},</if>
            <if test="pojo.source_type != null">#{pojo.source_type},</if>
            <if test="pojo.desc != null">#{pojo.desc},</if>
        </trim>
    </insert>

    <update id="update" parameterType="sharemer.business.api.master.po.Archive">
        UPDATE t_archive
        <trim prefix="set" suffixOverrides=",">
            <if test="pojo.title != null">title = #{pojo.title},</if>
            <if test="pojo.cover != null">cover = #{pojo.cover},</if>
            <if test="pojo.publish_type != null">publish_type = #{pojo.publish_type},</if>
            <if test="pojo.origin_title != null">origin_title = #{pojo.origin_title},</if>
            <if test="pojo.origin_author != null">origin_author = #{pojo.origin_author},</if>
            <if test="pojo.file != null">file = #{pojo.file},</if>
            <if test="pojo.status != null">status = #{pojo.status},</if>
            <if test="pojo.user_id != null">status = #{pojo.user_id},</if>
            <if test="pojo.source_type != null">source_type = #{pojo.source_type},</if>
            <if test="pojo.desc != null">status = #{pojo.desc},</if>
        </trim>
        WHERE id = #{pojo.id,jdbcType=INTEGER}
    </update>

    <select id="getArchivesByUid" resultType="java.lang.Integer">
        SELECT id
        FROM t_archive WHERE status != 3 AND user_id = #{uid}
        <if test="sort == 0">
            ORDER BY ctime ASC
        </if>
        <if test="sort == 1">
            ORDER BY ctime DESC
        </if>
        LIMIT #{page}, 20
    </select>

    <select id="getBaseArchiveVo" resultType="sharemer.business.api.master.vo.ArchiveVo">
        SELECT
        id,
        title,
        cover,
        publish_type,
        origin_title,
        origin_author,
        status,
        user_id,
        source_type,
        ctime,
        mtime
        FROM t_archive
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND `status` != 3
    </select>

    <select id="getArchivePlayInfo" resultType="sharemer.business.api.master.vo.ArchiveVo">
        SELECT
        file, `desc`
        FROM t_archive
        WHERE id = #{archive_id} AND `status` != 3
    </select>

    <select id="getArchivesByKey" resultType="java.lang.Integer">
        SELECT id
        FROM t_archive WHERE status = 1 AND title LIKE "%"#{key}"%"
        <if test="sort == 0">
            ORDER BY ctime ASC
        </if>
        <if test="sort == 1">
            ORDER BY ctime DESC
        </if>
        LIMIT #{page}, 10
    </select>
</mapper>