<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sharemer.business.api.master.dao.TagMediaMapper">

    <insert id="insertMediaTag" parameterType="sharemer.business.api.master.po.TagMedia">
        INSERT INTO r_media_tag_${num}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null">id,</if>
            <if test="pojo.tag_id != null">tag_id,</if>
            <if test="pojo.media_id != null">media_id,</if>
            <if test="pojo.type != null">`type`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null">#{pojo.id},</if>
            <if test="pojo.tag_id != null">#{pojo.tag_id},</if>
            <if test="pojo.media_id != null">#{pojo.media_id},</if>
            <if test="pojo.type != null">#{pojo.type},</if>
        </trim>
    </insert>

    <insert id="insertTagMedia" parameterType="sharemer.business.api.master.po.TagMedia">
        INSERT INTO r_tag_media_${num}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null">id,</if>
            <if test="pojo.tag_id != null">tag_id,</if>
            <if test="pojo.media_id != null">media_id,</if>
            <if test="pojo.type != null">`type`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null">#{pojo.id},</if>
            <if test="pojo.tag_id != null">#{pojo.tag_id},</if>
            <if test="pojo.media_id != null">#{pojo.media_id},</if>
            <if test="pojo.type != null">#{pojo.type},</if>
        </trim>
    </insert>

    <select id="getOneFromMediaTagByMediaIdAndTagId" resultType="sharemer.business.api.master.po.TagMedia">
        SELECT
        *
        FROM
        r_media_tag_${num}
        WHERE media_id = #{media_id} AND tag_id = #{tag_id} AND `type` = #{type} LIMIT 1
    </select>

    <!-- 音乐区二级页根据tagid找到所有下面的musicid-->
    <select id="getMusicIdsByTagId" resultType="java.lang.Integer">
        SELECT rtm.media_id
        FROM r_tag_media_${num} rtm
        LEFT JOIN t_music tm ON tm.id = rtm.media_id AND tm.status = 0
        WHERE rtm.tag_id = #{tag_id}
        AND rtm.`type` = 0
        ORDER BY tm.publish_time DESC
    </select>

    <!-- PV区二级页根据tagid找到所有下面的musicid-->
    <select id="getVideoIdsByTagId" resultType="java.lang.Integer">
        SELECT rtm.media_id
        FROM r_tag_media_${num} rtm
        LEFT JOIN t_video tv ON tv.id = rtm.media_id AND tv.status = 0
        WHERE rtm.tag_id = #{tag_id}
        AND rtm.`type` = 1
        ORDER BY tv.mtime DESC
    </select>

    <!-- FV区二级页根据tagid找到所有下面的favid-->
    <select id="getFavIdsByTagId" resultType="java.lang.Integer">
        SELECT rtm.media_id
        FROM r_tag_media_${num} rtm
        LEFT JOIN t_fav_list tf ON tf.id = rtm.media_id AND tf.status = 0
        WHERE rtm.tag_id = #{tag_id}
        AND rtm.`type` = 3
        ORDER BY tf.ctime DESC
    </select>

</mapper>