<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sharemer.business.api.master.dao.TagMediaMapper">

    <insert id="insertsMediaTag">
        INSERT INTO r_media_tag_${num} (tag_id, media_id, `type`)
        VALUES
        <foreach item="mt" index="index" collection="media_tags" separator=",">
            (#{mt.tag_id}, #{mt.media_id}, #{mt.type})
        </foreach>
    </insert>

    <insert id="insertsTagMedia">
        INSERT INTO r_tag_media_${num} (tag_id, media_id, `type`)
        VALUES
        <foreach item="mt" index="index" collection="media_tags" separator=",">
            (#{mt.tag_id}, #{mt.media_id}, #{mt.type})
        </foreach>
    </insert>

    <insert id="insertTagMedia">
        INSERT INTO r_tag_media_${num} (tag_id, media_id, `type`)
        VALUES (#{media_tag.tag_id}, #{media_tag.media_id}, #{media_tag.type})
    </insert>

    <select id="getOneFromMediaTagByMediaIdAndTagId" resultType="sharemer.business.api.master.po.TagMedia">
        SELECT
        *
        FROM
        r_media_tag_${num}
        WHERE media_id = #{media_id} AND tag_id = #{tag_id} AND `type` = #{type} LIMIT 1
    </select>

    <!-- 音乐区二级页根据tagid找到所有下面的music_id-->
    <select id="getMusicIdsByTagId" resultType="java.lang.Integer">
        SELECT rtm.media_id
        FROM r_tag_media_${num} rtm
        JOIN t_music tm ON tm.id = rtm.media_id AND tm.status = 0
        WHERE rtm.tag_id = #{tag_id}
        AND rtm.`type` = 0
        ORDER BY tm.publish_time DESC
    </select>

    <!-- PV区二级页根据tagid找到所有下面的video_id-->
    <select id="getVideoIdsByTagId" resultType="java.lang.Integer">
        SELECT rtm.media_id
        FROM r_tag_media_${num} rtm
        JOIN t_video tv ON tv.id = rtm.media_id AND tv.status = 0
        WHERE rtm.tag_id = #{tag_id}
        AND rtm.`type` = 1
        ORDER BY tv.mtime DESC
    </select>

    <!-- 投稿区二级页根据tagid找到所有下面的archive_id-->
    <select id="getArchiveIdsByTagId" resultType="java.lang.Integer">
        SELECT rtm.media_id
        FROM r_tag_media_${num} rtm
        JOIN t_archive ta ON ta.id = rtm.media_id AND ta.status = 1
        WHERE rtm.tag_id = #{tag_id}
        AND rtm.`type` = 2
        ORDER BY ta.mtime DESC
    </select>

    <!-- FV区二级页根据tagid找到所有下面的favid-->
    <select id="getFavIdsByTagId" resultType="java.lang.Integer">
        SELECT rtm.media_id
        FROM r_tag_media_${num} rtm
        JOIN t_fav_list tf ON tf.id = rtm.media_id AND tf.status = 0
        WHERE rtm.tag_id = #{tag_id}
        AND rtm.`type` = 3
        ORDER BY tf.ctime DESC
    </select>

</mapper>