<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sharemer.business.manager.master.dao.FavListMapper">

    <insert id="insert" parameterType="sharemer.business.manager.master.po.FavList" useGeneratedKeys="true"
            keyProperty="pojo.id">
        INSERT INTO t_fav_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null">id,</if>
            <if test="pojo.title != null">`title`,</if>
            <if test="pojo.cover != null">cover,</if>
            <if test="pojo.user_id != null">user_id,</if>
            <if test="pojo.status != null">status,</if>
            <if test="pojo.is_hide != null">is_hide,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null">#{pojo.id},</if>
            <if test="pojo.title != null">#{pojo.title},</if>
            <if test="pojo.cover != null">#{pojo.cover},</if>
            <if test="pojo.user_id != null">#{pojo.user_id},</if>
            <if test="pojo.status != null">#{pojo.status},</if>
            <if test="pojo.is_hide != null">#{pojo.is_hide},</if>
        </trim>
    </insert>

    <select id="getBaseOne" resultType="sharemer.business.manager.master.po.FavList">
        SELECT *
        FROM
        t_fav_list
        WHERE id = #{id} AND status = 0
    </select>

</mapper>