<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sharemer.business.manager.master.dao.TagMapper">

    <insert id="insert" parameterType="sharemer.business.manager.master.po.Tag" useGeneratedKeys="true"
            keyProperty="pojo.id">
        INSERT INTO t_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null">id,</if>
            <if test="pojo.tag_name != null">tag_name,</if>
            <if test="pojo.user_id != null">user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null">#{pojo.id},</if>
            <if test="pojo.tag_name != null">#{pojo.tag_name},</if>
            <if test="pojo.user_id != null">#{pojo.user_id},</if>
        </trim>
    </insert>

    <select id="one" resultType="sharemer.business.manager.master.po.Tag">
        SELECT
        *
        FROM
        t_tag
        WHERE id = #{id} AND is_delete = 0
    </select>

    <select id="getOneByTagName" resultType="sharemer.business.manager.master.po.Tag">
        SELECT
        *
        FROM
        t_tag
        WHERE tag_name = #{tag_name} AND is_delete = 0 LIMIT 1
    </select>

    <select id="getAll" resultType="sharemer.business.manager.master.po.Music">
        SELECT *
        FROM t_tag WHERE is_delete = 0 ORDER BY ctime DESC
    </select>

    <select id="getTagByMediaId" resultType="sharemer.business.manager.master.po.Tag">
        SELECT tg.id, tg.tag_name, tg.user_id
        FROM r_media_tag_${num} tmt
        JOIN t_tag tg ON tg.id = tmt.tag_id
        WHERE tmt.media_id = #{media_id} AND tmt.type = #{type} AND is_delete = 0
    </select>

</mapper>