<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sharemer.business.manager.master.dao.VideoMapper">

    <insert id="insert" parameterType="sharemer.business.manager.master.po.Video" useGeneratedKeys="true"
            keyProperty="pojo.id">
        INSERT INTO t_video
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null">id,</if>
            <if test="pojo.title != null">`title`,</if>
            <if test="pojo.v_id != null">v_id,</if>
            <if test="pojo.page != null">page,</if>
            <if test="pojo.msg != null">msg,</if>
            <if test="pojo.cover != null">cover,</if>
            <if test="pojo.embed_type != null">`embed_type`,</if>
            <if test="pojo.type != null">`type`,</if>
            <if test="pojo.video_url != null">video_url,</if>
            <if test="pojo.r_id != null">r_id,</if>
            <if test="pojo.r_name != null">r_name,</if>
            <if test="pojo.source_url != null">source_url,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null">#{pojo.id},</if>
            <if test="pojo.title != null">#{pojo.title},</if>
            <if test="pojo.v_id != null">#{pojo.v_id},</if>
            <if test="pojo.page != null">#{pojo.page},</if>
            <if test="pojo.msg != null">#{pojo.msg},</if>
            <if test="pojo.cover != null">#{pojo.cover},</if>
            <if test="pojo.embed_type != null">#{pojo.embed_type},</if>
            <if test="pojo.type != null">#{pojo.type},</if>
            <if test="pojo.video_url != null">#{pojo.video_url},</if>
            <if test="pojo.r_id != null">#{pojo.r_id},</if>
            <if test="pojo.r_name != null">#{pojo.r_name},</if>
            <if test="pojo.source_url != null">#{pojo.source_url},</if>
        </trim>
    </insert>

    <update id="update" parameterType="sharemer.business.manager.master.po.Video">
        UPDATE t_video
        <trim prefix="set" suffixOverrides=",">
            <if test="pojo.title != null">title = #{pojo.title},</if>
            <if test="pojo.v_id != null">v_id = #{pojo.v_id},</if>
            <if test="pojo.page != null">page = #{pojo.page},</if>
            <if test="pojo.msg != null">msg = #{pojo.msg},</if>
            <if test="pojo.cover != null">cover = #{pojo.cover},</if>
            <if test="pojo.embed_type != null">`embed_type` = #{pojo.embed_type},</if>
            <if test="pojo.type != null">`type` = #{pojo.type},</if>
            <if test="pojo.video_url != null">video_url = #{pojo.video_url},</if>
            <if test="pojo.source_url != null">source_url = #{pojo.source_url},</if>
        </trim>
        WHERE id = #{pojo.id,jdbcType=INTEGER}
    </update>

    <select id="one" resultType="sharemer.business.manager.master.po.Video">
        SELECT
        *
        FROM
        t_video
        WHERE id = #{id}
    </select>

    <select id="getOneByVIdAndType" resultType="sharemer.business.manager.master.po.Video">
        SELECT
        *
        FROM
        t_video
        WHERE v_id = #{v_id} AND `type` = #{type} LIMIT 1
    </select>

    <select id="getAllCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM t_video
        <if test="key != null and type == 0">
            WHERE title LIKE "%"#{key}"%"
        </if>
        <if test="key != null and type == 1">
            WHERE v_id = #{key}
        </if>
    </select>

    <select id="getAll" resultType="sharemer.business.manager.master.vo.VideoVo">
        SELECT *
        FROM t_video
        <if test="key != null and type == 0">
            WHERE title LIKE "%"#{key}"%"
        </if>
        <if test="key != null and type == 1">
            WHERE v_id = #{key}
        </if>
        ORDER BY id DESC
        LIMIT #{start}, #{size}
    </select>

</mapper>